<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/Style/style.css">
    <link rel="stylesheet" href="../../public/Style/homepage.css">
    <link rel="stylesheet" href="../../public/fontawesome/css/all.css">
</head>

<body>
    <div class="container-fluid">

<Header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">MegaShop</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="List-icon collapse navbar-collapse" id="navbarSupportedContent">

                    <a href="#" style="color:#000"> <i class=" fas fa-search"></i> </a>
                    <a href="#" style="color:#000"> </a> <i class=" fas fa-shopping-cart"></i> </a>
                    <a href="#" style="color:#000"> <i class=" far fa-heart"></i> </a>
                </div>
            </nav>
</Header>
<main>
            <!-- Slider -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../public/images/anh1.jpg" class="" alt="">

                    </div>
                    <div class="carousel-item">
                        <img src="../../public/images/anh2.jpg" class="" alt="">

                    </div>

                    <div class="carousel-item">
                        <img src="../../public/images/Xehay-VF-041220-9-1.jpg" class="" alt="">

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Slider -->
            <div class="container Content">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">

                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">

                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="container Content">
                <div class="row">
                    <h1 class="h1">PRODUCT OVERVIEW</h1>

                    <nav class="nav_tab">
                        <ul class="nav_list me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">All Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">VinFast</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Women</a>
                            </li>
                        </ul>
                        <div class="List-icon ">
                            <Button class="btn btn-outline-secondary" style="color:#000;font-size:16px;
                           "> <i class="fas fa-stream" style="font-size:12px; margin:0 5px;"></i></i>Filtter </Button>
                            <Button class="btn btn-outline-secondary" style="color:#000; margin:0 5px;font-size:16px;
                            "> <i class=" fas fa-search" style="font-size:12px; margin:0 5px;"></i> Search</Button>
                        </div>
                    </nav>


                    <div class="col-3">

                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Buy now
                                    <i class=" fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">

                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Buy now
                                    <i class=" fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">

                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Buy now
                                    <i class=" fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">

                        <div class="card">
                            <img src="../../public/images/xevinfast.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Buy now
                                    <i class=" fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>





    <!-- Footer -->

<footer>



</footer>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<link rel="stylesheet" href="../../public/bootstrap/js/bootstrap.min.js"> -->

</html>